.calculation-title {
  font-size: 23px;
  padding-top: 10px;
}

.card, .no-calculations {
  margin: 15px 0;
}

.calculation-data {
  margin-bottom: 4px;
}

.overflow-auto {
  overflow: auto;
}

.show-more {
  cursor: pointer;
}

h3.title {
  display: inline-block;
  line-height: 51px;
  vertical-align: middle;
  margin-bottom: 0;
}
