<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{"CONFIRM_INHABITANT_ACTIVATION" | translate}}</h5>
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>{{"ARE_YOU_SURE_TO_ACTIVATE_INHABITANT" | translate}}</span>
      </div>
      <div class="modal-footer">
        <button (click)="doActivateInhabitant(inhabitant)" type="button" class="btn btn-success">{{"ACTIVATE" | translate}}</button>
        <button type="button" class="btn btn-secondary"  (click)="lgModal.hide()">{{"NO" | translate}}</button>
      </div>
    </div>
  </div>
</div>
