.thumbnails-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 5px;
}

.thumbnails-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0275d8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnails-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  cursor: pointer;
}

.gallery {
  margin-top: 8px;
}
