<section class="userProfileEditCard">
  <div class="container">
    <div class="breadcrumb">
      <h3>{{"USER_PROFILE" | translate}}</h3>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="profileEditForm">
      <div class="form-group row">
        <label class="col-md-4 col-form-label">{{"PHOTO" | translate}}:</label>
        <div class="col-md-8">
          <img src="../../../../assets/img/dafaultProfileImage.png" class="userPhoto" *ngIf="myForm.controls.photo.value === null && !data2.image "/>
          <img src="{{photosUrl + myForm.controls.photo.value}}" class="userPhoto" *ngIf="!data2.image && myForm.controls.photo.value"/>
          <img src="{{data2.image}}" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight" *ngIf="data2.image">
          <br><br>
          <button type="button" class="btn btn-primary" (click)="lgModal.show(); fileInput.click()">{{"CHOOSE_PHOTO" | translate}}</button><br>
          <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{"CHOOSE_PHOTO" | translate}}</h5>
                  <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="file-upload">
                    <span class="text">{{"CHOOSE_PHOTO" | translate}}</span>
                  </div>
                  <input id="custom-input" type="file" (change)="fileChangeListener($event)" #fileInput>
                  <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper><br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"  (click)="lgModal.hide()">{{"YES" | translate}}</button>
                  <button type="button" class="btn btn-secondary" (click)="lgModal.hide()">{{"NO" | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': !myForm.get('surname').valid && myForm.get('surname').touched}">
        <label class="col-md-4 col-form-label">{{"YOUR_SURNAME" | translate}}:</label>
        <div class="col-md-8">
          <input formControlName="surname" type="text" class="form-control" placeholder="{{'YOUR_SURNAME' | translate}}">
          <app-validation-messages class="form-control-feedback" [control]="myForm.controls.surname"></app-validation-messages>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': !myForm.get('name').valid && myForm.get('name').touched}">
        <label class="col-md-4 col-form-label">{{"YOUR_NAME" | translate}}:</label>
        <div class="col-md-8">
          <input formControlName="name" type="text" class="form-control" placeholder="{{'YOUR_NAME' | translate}}">
          <app-validation-messages class="form-control-feedback" [control]="myForm.controls.name"></app-validation-messages>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': !myForm.get('patronymic').valid && myForm.get('patronymic').touched}">
        <label class="col-md-4 col-form-label">{{"YOUR_PATRONYMIC" | translate}}:</label>
        <div class="col-md-8">
          <input formControlName="patronymic" type="text" class="form-control" placeholder="{{'YOUR_PATRONYMIC' | translate}}">
          <app-validation-messages class="form-control-feedback" [control]="myForm.controls.patronymic"></app-validation-messages>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label"> {{"ADRESS" | translate}}:</label>  
        <div class="col-md-8">
          <div class="adressDiv">
           {{"STREET_SHORT" | translate}} {{myForm.controls["building"].value["streetName"]}}, 
           {{"BUILDING_SHORT" | translate}} {{myForm.controls["building"].value["buildingNumber"]}}, 
           {{"APPARRTMENT_SHORT" | translate}} {{appartment}}
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': !myForm.get('phoneNumber').valid && myForm.get('phoneNumber').touched}">
        <label class="col-md-4 col-form-label">{{"PHONE_NUMBER" | translate}}:</label>
        <div class="col-md-8">
          <p-inputMask formControlName="phoneNumber" placeholder="{{'PHONE_NUMBER' | translate}}" styleClass="form-control" mask="(999) 999-999?9"></p-inputMask>
          <app-validation-messages class="form-control-feedback" [control]="myForm.controls.phoneNumber"></app-validation-messages>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-danger': (!myForm.get('email').valid) && myForm.get('email').touched}">
        <label class="col-md-4 col-form-label">{{"EMAIL" | translate}}:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="{{'EMAIL' | translate}}" formControlName="email">
          <app-validation-messages class="form-control-feedback" [control]="myForm.controls.email"></app-validation-messages>
        </div>
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">{{"SAVE" | translate}}</button>
        <a [routerLink] = "['/user']" class="btn btn-danger">{{"CANCEL" | translate}}</a>
      </div>
    </form>
  </div>
</section>