<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success">
        <div [innerHTML]="pswdCodeInstructionsSMSString"></div>
      </div>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-sm-12">
      <form [formGroup]="phoneCodeForm" (submit)="phoneCodeSend()">
        <div class="form-group">
          <label>{{'SMS_CODE' | translate}}</label>
          <p-inputMask formControlName="code" placeholder="{{'SMS_CODE' | translate}}" styleClass="form-control" mask="99-99-99-99"></p-inputMask>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!phoneCodeForm.valid" class="btn btn-success">{{"SEND" | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
