button.add-button {
  display: block;
  margin-bottom: 2em;
}

textarea.comments-input {
  border: 1px solid lightgrey;
  resize: none;
}

.inhabitant-photo {
  height: 1.5em;
  width: 1.5em;
}

.submit-bottom {
  display: block;
  width: 100%;
  clear: both;
}

.inhabitant-info {
  line-height: 2.5;
}