.cursor {
  cursor: pointer;
}

.cal-month-view .cal-event {
  width: 15px;
  height: 15px;
}

.wrapper {
  margin: auto;
}

h3.title {
  display: inline-block;
  line-height: 51px;
  vertical-align: middle;
  margin-bottom: 0;
}