<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{"CHANGE_PASSWORD" | translate}}</h5>
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="saveChangePassword()" [formGroup]="changePasswordForm">
          <div *ngIf="isPreviousPassword" class="form-group row" [ngClass]="{'has-danger': !changePasswordForm.get('previousPassword').valid && changePasswordForm.get('previousPassword').touched }">
            <label class="col-md-4 col-form-label">{{"PREVIOUS_PASSWORD" | translate}} *</label>
            <div class="col-md-8">
              <input formControlName="previousPassword" type="text" class="form-control" placeholder="{{'PREVIOUS_PASSWORD' | translate}}">
              <app-validation-messages class="form-control-feedback" [control]="changePasswordForm.controls.previousPassword"></app-validation-messages>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-danger': !changePasswordForm.get('password').valid && changePasswordForm.get('password').touched }">
            <label class="col-md-4 col-form-label">{{"CHOOSE_PASSWORD" | translate}} *</label>
            <div class="col-md-8">
              <input formControlName="password" type="text" class="form-control" placeholder="{{'CHOOSE_PASSWORD' | translate}}">
              <app-validation-messages class="form-control-feedback" [control]="changePasswordForm.controls.password"></app-validation-messages>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-danger': !changePasswordForm.get('passwordRepeat').valid && changePasswordForm.get('passwordRepeat').touched}">
            <label class="col-md-4 col-form-label">{{"REPEAT_PASSWORD" | translate}} *</label>
            <div class="col-md-8">
              <input formControlName="passwordRepeat" type="text" class="form-control" placeholder="{{'REPEAT_PASSWORD' | translate}}">
              <app-validation-messages class="form-control-feedback"  [control]="changePasswordForm.controls.passwordRepeat"></app-validation-messages>
            </div>
          </div>
          <input type="submit" style="position: absolute; margin-left: -10000px;">
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="saveChangePassword()" [disabled]="!changePasswordForm.valid || loading" class="btn btn-success">{{"CHANGE_PASSWORD" |  translate}}</button>
        <button type="button" class="btn btn-secondary" (click)="lgModal.hide()">{{"CANCEL" | translate}}</button>
      </div>
    </div>
  </div>
</div>
