<div class="container">
  <div class="breadcrumb">
    <h3 class="title">{{ "REQUEST_TYPES" | translate }}</h3>
    <button type="button" class="btn btn-success btn-lg pull-right"
            [routerLink] = "['/admin/add-request-type']">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-striped text-center">
          <tr>
            <th class="text-center">{{ "CONTROL" | translate }}</th>
            <th class="text-left">{{ "TITLE" | translate }}</th>
            <th class="text-left">{{ "DESCRIPTION" | translate }}</th>
          </tr>
          <tr *ngFor="let item of types">
            <td>
              <div>
                <button type="button" class="btn-controls btn btn-warning"
                        [routerLink]="['/admin/edit-request-type', item?.id]">
                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn-controls btn btn-danger"
                        (click)="confirmTypeDeleting(item.id)" [disabled]="sendingToServer">
                  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </button>
              </div>
            </td>
            <td class="text-justify">{{ item?.name }}</td>
            <td class="text-justify">{{ item?.description }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="{{ 'CONFIRMATION' | translate }}" icon="fa fa-question-circle" width="350" #cd>
  <p-footer>
    <button class="conf-dial-false" type="button" pButton icon="fa-close" label="{{ 'NO' | translate }}" (click)="cd.reject()"></button>
    <button class="conf-dial-true" type="button" pButton icon="fa-check" label="{{ 'YES' | translate }}" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
