<div class="row">
  <div class="col-12 no-gutters">
    <div class="list-group">
      <a href="javascript:void(0)" (click)="setChoose('email')" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{"LOST_PASS_REMEMBER_EMAIL" | translate}}</h5>
        </div>
        <p class="mb-1">{{"CHOOSE_IN_CASE_REMEMBER_EMAIL" | translate}}</p>
      </a>
      <a href="javascript:void(0)" (click)="setChoose('phone')" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{"LOST_PASS_REMEMBER_PHONE" | translate}}</h5>
        </div>
        <p class="mb-1">{{"CHOOSE_IN_CASE_REMEMBER_PHONE" | translate}}</p>
      </a>
    </div>
  </div>
</div>

